@import "./slide-titles";
@import "./animations";

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin arrow {
  cursor: pointer;
  border-bottom: 2px solid;
  border-left: 2px solid;
  color: #fff;
}

@mixin backgroundImage {
  background-size: cover;
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}
