.contact {
  opacity: 0;
  h2 {
    letter-spacing: 1px;
    text-align: right;
    font-size: 2.5em;
    position: absolute;
    text-transform: uppercase;
    top: 3%;
    right: 2%;
    border-bottom: $titleUnderline;
  }
  p {
    font-size: 0.7em;
    text-align: right;
    position: absolute;
    top: 50%;
    margin-top: -53px;
    right: 2%;

    a {
      color: $contentText;
    }
  }
  .icons {
    font-size: 0.7em;
    text-align: right;
    position: absolute;
    top: 60%;
    margin-top: -53px;
    right: 1.5%;

    span {
      padding: 0 8px;
    }
  }
}
