@font-face {
  font-family: "Klavika-bold";
  src: url(../assets/font/klavika-bold-webfont.woff) format("woff");
}

@font-face {
  font-family: "Klavika-light";
  src: url(../assets/font/klavika-light-webfont.woff) format("woff2");
}

@font-face {
  font-family: "Klavika-medium";
  src: url(../assets/font/klavika-medium-webfont.woff) format("woff2");
}

@font-face {
  font-family: "Klavika-regular";
  src: url(../assets/font/klavika-regular-webfont.woff) format("woff2");
}

#intro {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  flex-direction: column;
  color: white;
  font-family: "Klavika-light", Arial, Helvetica, sans-serif;
}

#intro .monk {
  height: 100px;
}

#intro .intro-text {
  padding: 40px;
}

.arrow {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  margin-top: -39px;
}

#arrow-left {
  cursor: pointer;
  border-bottom: 2px solid;
  border-left: 2px solid;
  color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 7px;
  margin-left: 25px;
}

#arrow-left:hover {
  color: lightgrey;
}

#arrow-right {
  cursor: pointer;
  border-bottom: 2px solid;
  border-left: 2px solid;
  color: #fff;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  right: 7px;
  margin-right: 25px;
}

#arrow-right:hover {
  color: lightgrey;
}

.slider-container {
  overflow: hidden;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes fadeIn {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

.slider-container .slider {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-container .slider .slide {
  height: 100vh;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.content {
  font-family: "Klavika-light", Arial, Helvetica, sans-serif;
  color: #fff;
}

.content .fade-out-text {
  opacity: 0;
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.content .fade-in-text {
  opacity: 1;
  -webkit-animation: fadeInText 4s;
          animation: fadeInText 4s;
}

@-webkit-keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content .content-slide0 h2 {
  font-size: 2.5em;
  position: absolute;
  text-transform: uppercase;
  top: 3%;
  left: 1.8%;
}

.content .content-slide0 h2 span {
  border-bottom: 1px solid #fff;
}

.content .content-slide0 p {
  position: absolute;
  font-size: 0.65em;
  top: 85%;
  left: 1.8%;
}

.content .content-slide1 h2 {
  font-size: 2.5em;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  margin-top: -53px;
  left: 5%;
}

.content .content-slide1 h2 span {
  border-bottom: 1px solid #fff;
}

.content .content-slide2 h2 {
  font-size: 2.5em;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  margin-top: -53px;
  left: 5%;
}

.content .content-slide2 h2 span {
  border-bottom: 1px solid #fff;
}

.footer {
  color: #fff;
}

.footer .nav {
  font-family: "Klavika-regular", Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 3%;
  left: 1.8%;
  border: dotted 2px white;
  height: 1px;
  padding: 0px 1px 21px;
}

.footer .nav span {
  cursor: pointer;
  margin: 1px;
  padding: 0 3.5px;
  border-right: dotted 2px white;
  text-align: center;
  letter-spacing: 5px;
  font-size: 0.8rem;
}

.footer .nav .nav0 {
  color: transparent;
}

.footer .nav .current-page {
  background-color: white;
}

.footer .nav .nav9 {
  border-right: none;
  color: transparent;
}

.footer .logo img {
  position: absolute;
  bottom: 0.3%;
  right: 1.8%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}
/*# sourceMappingURL=style.css.map */