@font-face {
  font-family: "Klavika-bold";
  src: url(../assets/font/klavika-bold-webfont.woff) format("woff");
}

@font-face {
  font-family: "Klavika-light";
  src: url(../assets/font/klavika-light-webfont.woff) format("woff");
}

@font-face {
  font-family: "Klavika-medium";
  src: url(../assets/font/klavika-medium-webfont.woff) format("woff");
}

@font-face {
  font-family: "Klavika-regular";
  src: url(../assets/font/klavika-regular-webfont.woff) format("woff");
}

#intro {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  flex-direction: column;
  color: white;
  font-family: "Klavika-light", Arial, Helvetica, sans-serif;
}

#intro .monk {
  height: 100px;
  animation: popout 0.6s ease;
  -webkit-animation: popout 0.6s ease;
}

@keyframes popout {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

#intro .intro-text {
  overflow: hidden;
  padding: 40px 0;
  opacity: 0;
  animation: popoutText 0.2s;
  -webkit-animation: popoutText 0.2s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes popoutText {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes popoutText {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#intro .intro-text span {
  display: inline-block;
  animation: slideText 1.8s;
  -webkit-animation: slideText 1.8s;
}

@keyframes slideText {
  from {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideText {
  from {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.arrow {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  margin-top: -39px;
}

#arrow-left {
  cursor: pointer;
  border-bottom: 2px solid;
  border-left: 2px solid;
  color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 7px;
  margin-left: 25px;
}

#arrow-left:hover {
  color: lightgrey;
}

#arrow-right {
  cursor: pointer;
  border-bottom: 2px solid;
  border-left: 2px solid;
  color: #fff;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  right: 7px;
  margin-right: 25px;
}

#arrow-right:hover {
  color: lightgrey;
}

.slider-container {
  overflow: hidden;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes fadeIn {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

.slider-container .slider {
  background-color: black;
}

.slider-container .slider .slide {
  height: 100vh;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.content {
  font-family: "Klavika-light", Arial, Helvetica, sans-serif;
  color: #fff;
}

.content .fade-out-text {
  opacity: 0;
  animation: fadeOut 0.5s;
  -webkit-animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.content .current {
  opacity: 0;
  animation: fadeInText 1s;
  -webkit-animation: fadeInText 1s;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content .content-slide0 h2 {
  font-size: 2.5em;
  position: absolute;
  text-transform: uppercase;
  top: 3%;
  left: 1.8%;
}

@media screen and (max-width: 550px) {
  .content .content-slide0 h2 {
    font-size: 1.8em;
  }
}

.content .content-slide0 h2 span {
  border-bottom: 1px solid #fff;
}

.content .content-slide0 p {
  position: absolute;
  font-size: 0.65em;
  top: 85%;
  left: 1.8%;
}

@media screen and (max-width: 1000px) {
  .content .content-slide0 p {
    top: 80%;
  }
}

.content .left {
  opacity: 0;
}

.content .left h2 {
  font-size: 2.5em;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  margin-top: -53px;
  left: 5%;
}

@media screen and (max-width: 550px) {
  .content .left h2 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1000px) {
  .content .left h2 {
    left: 8%;
  }
}

@media screen and (max-width: 550px) {
  .content .left h2 {
    left: 16%;
  }
}

.content .left h2 span {
  border-bottom: 1px solid #fff;
}

.content .right {
  opacity: 0;
}

.content .right h2 {
  font-size: 2.5em;
  position: absolute;
  text-transform: uppercase;
  text-align: right;
  top: 50%;
  margin-top: -53px;
  right: 5%;
}

@media screen and (max-width: 550px) {
  .content .right h2 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1000px) {
  .content .right h2 {
    right: 8%;
  }
}

@media screen and (max-width: 550px) {
  .content .right h2 {
    right: 16%;
  }
}

.content .right h2 span {
  border-bottom: 1px solid #fff;
}

.content .right-top {
  opacity: 0;
}

.content .right-top h2 {
  font-size: 2.5em;
  position: absolute;
  text-transform: uppercase;
  text-align: right;
  top: 50%;
  margin-top: -103px;
  right: 5%;
}

@media screen and (max-width: 550px) {
  .content .right-top h2 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1000px) {
  .content .right-top h2 {
    right: 8%;
  }
}

@media screen and (max-width: 550px) {
  .content .right-top h2 {
    right: 16%;
  }
}

.content .right-top h2 span {
  border-bottom: 1px solid #fff;
}

.contact {
  opacity: 0;
}

.contact h2 {
  font-size: 2.5em;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  top: 3%;
  right: 2%;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 550px) {
  .contact h2 {
    font-size: 1.8em;
  }
}

.contact p {
  font-size: 0.7em;
  text-align: right;
  position: absolute;
  top: 50%;
  margin-top: -53px;
  right: 2%;
}

.contact p a {
  color: #fff;
}

.contact .icons {
  font-size: 0.7em;
  text-align: right;
  position: absolute;
  top: 60%;
  margin-top: -53px;
  right: 1.5%;
}

.contact .icons a {
  color: #fff;
  text-decoration: none;
}

.contact .icons span {
  padding: 0 8px;
}

.footer {
  color: #fff;
}

.footer .nav {
  font-family: "Klavika-regular", Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 3%;
  left: 1.8%;
  border: dotted 2px white;
  height: 1px;
  padding: 0px 1px 21px;
}

@media screen and (max-width: 1000px) {
  .footer .nav {
    bottom: 6%;
  }
}

.footer .nav span {
  cursor: pointer;
  margin: 1px;
  padding: 0 3.5px;
  border-right: dotted 2px white;
  text-align: center;
  letter-spacing: 5px;
  font-size: 0.8rem;
}

.footer .nav .nav0 {
  color: transparent;
}

.footer .nav .current-page {
  background-color: white;
}

.footer .nav .nav9 {
  border-right: none;
  color: transparent;
}

.footer .nav-text {
  opacity: 0;
  font-family: "Klavika-regular", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  font-size: 0.8em;
  position: absolute;
  bottom: 3.5%;
  left: 24%;
}

@media screen and (max-width: 1000px) {
  .footer .nav-text {
    bottom: 2%;
    left: 1.8%;
  }
}

.footer .show {
  opacity: 0;
  animation: fadeInText 1s;
  -webkit-animation: fadeInText 1s;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer .fade-out {
  opacity: 0;
  animation: fadeOut 0.5s;
  -webkit-animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.footer .logo img {
  position: absolute;
  bottom: 0.3%;
  right: 1.8%;
  height: 60px;
}

@media screen and (max-width: 550px) {
  .footer .logo img {
    height: 40px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}
/*# sourceMappingURL=style.css.map */